@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  text-align: center;
  background-color: #fbf4eb;
}

h1 {
  padding-top: 25px;
}

.converter {
  padding: 12px;
  border: 2px solid #c43670;
  display: inline-block;
  background: #fbd9e5;
  border-radius: 15px;
  height: 230px;
  width: 280px;
}

.ttl {
  margin-bottom: 5px;
}

input,
select {
  border: 1px solid #c43670;
  border-radius: 7px;
  margin-bottom: 12px;
}

input {
  height: 20px;
  width: 150px;
}

select {
  height: 24px;
  width: 156px;
}

button {
  border: 1px solid #c43670;
  background-color: #fac4d2;
  border-radius: 7px;
  width: 150px;
  height: 29px;
}
